In [1]:
#import pandas library
import pandas as pd
import sqlalchemy
import os

In [2]:
#create connect engine

engine = sqlalchemy.create_engine('mysql+pymysql://root:tejas2188@localhost:3306/databasepython')
engine.connect()

In [3]:
data = pd.read_excel(r'C:\Users\Tejas Chavan\Desktop\DS\Class Material\Tableau\Startup Trends Across India.xlsx')

In [4]:
df = pd.DataFrame(data)

In [5]:
df.head()

,SNo,Date,StartupName,IndustryVertical,SubVertical,CityLocation,InvestorsName,InvestmentType,AmountInUSD,Remarks
0,0,2017-01-08 00:00:00,TouchKin,Technology,Predictive Care Platform,Bangalore,Kae Capital,Private Equity,1300000.0,NaN
1,1,2017-02-08 00:00:00,Ethinos,Technology,Digital Marketing Agency,Mumbai,Triton Investment Advisors,Private Equity,NaN,NaN
2,2,2017-02-08 00:00:00,Leverage Edu,Consumer Internet,Online platform for Higher Education Services,New Delhi,"Kashyap Deorah, Anand Sankeshwar, Deepak Jain,...",Seed Funding,NaN,NaN
3,3,2017-02-08 00:00:00,Zepo,Consumer Internet,DIY Ecommerce platform,Mumbai,"Kunal Shah, LetsVenture, Anupam Mittal, Hetal ...",Seed Funding,500000.0,NaN
4,4,2017-02-08 00:00:00,Click2Clinic,Consumer Internet,healthcare service aggregator,Hyderabad,"Narottam Thudi, Shireesh Palle",Seed Funding,850000.0,NaN

In [6]:
df.shape

(2372, 10)

In [7]:
df.to_sql('databasepython', engine, if_exists = 'replace')

In [8]:
pd.read_sql('databasepython', engine).head()

,index,SNo,Date,StartupName,IndustryVertical,SubVertical,CityLocation,InvestorsName,InvestmentType,AmountInUSD,Remarks
0,0,0,2017-01-08 00:00:00,TouchKin,Technology,Predictive Care Platform,Bangalore,Kae Capital,Private Equity,1300000.0,None
1,1,1,2017-02-08 00:00:00,Ethinos,Technology,Digital Marketing Agency,Mumbai,Triton Investment Advisors,Private Equity,NaN,None
2,2,2,2017-02-08 00:00:00,Leverage Edu,Consumer Internet,Online platform for Higher Education Services,New Delhi,"Kashyap Deorah, Anand Sankeshwar, Deepak Jain,...",Seed Funding,NaN,None
3,3,3,2017-02-08 00:00:00,Zepo,Consumer Internet,DIY Ecommerce platform,Mumbai,"Kunal Shah, LetsVenture, Anupam Mittal, Hetal ...",Seed Funding,500000.0,None
4,4,4,2017-02-08 00:00:00,Click2Clinic,Consumer Internet,healthcare service aggregator,Hyderabad,"Narottam Thudi, Shireesh Palle",Seed Funding,850000.0,None

In [9]:
pd.read_sql('customers', engine).head()

   customerid customername education  age
0           1        rahul  Graduate   41
1           2        akash        BE   53
2           3       lokesh  Graduate   23
3           4         Amit        ma   27
4           5      saurabh       mba   32

In [10]:
engine1 = sqlalchemy.create_engine('mysql+pymysql://root:tejas2188@127.0.0.1:3306/bank-additional-full')

In [11]:
df1 = pd.read_excel(r'C:\Users\Tejas Chavan\Desktop\DS\Class Material\Tableau\Website_Analytics_GA.xlsx')

In [13]:
df1.to_sql('website', engine1, if_exists = 'replace')